@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberationsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberationsans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ume Mincho P';
    src: url('../fonts/ume-pmo3-webfont.woff2') format('woff2'),
         url('../fonts/ume-pmo3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    max-width: 90%;
}

.intro {
    font-family: 'Liberation Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 48px;
}

.intro h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.intro__text ul + p,
.intro__text p + p {
    margin-top: 15px;
}

.intro ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.intro ol ul {
    padding-left: 15px;
}


.intro ul > li:before {
    content: '– ';
}

em {
    font-style: italic;
}

.intro__text {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;

    margin-bottom: 45px;
}

.instructions {
    background-color: pink;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
}

.article {
    font-family: 'Ume Mincho P';
    font-size: 18px;
    line-height: 24px;
}

.article h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.article p + p {
    margin-top: 24px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article sup {
    line-height: 0;
    font-size: 12px;
    vertical-align: 6px;
    padding-left: .25em;
}

.annotator-hl {
    color: black;
}

.footnotes {
    margin-top: 48px;

    -webkit-column-count: 2;

       -moz-column-count: 2;

            column-count: 2;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;

    font-size: 12px;
    line-height: 15px;
}


.footnotes ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.footnotes ol li {
    -webkit-column-break-inside:avoid;
       -moz-column-break-inside:avoid;
         -o-column-break-inside:avoid;
        -ms-column-break-inside:avoid;
            column-break-inside:avoid;

    margin-bottom: 15px;
}

/* .annotator-edit { */
/*     display: none !important; */
/* } */

.toggle-intro:hover {
    text-decoration: underline;
    cursor: pointer;
}


















.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}


.comment p + p {
    margin-top: 1.3em;
}
